.lightCard {
    background-color: var(--primary-color-300);
    border-radius: 5px;
    padding: 16px;
    text-align: left;
    font-family: 'Lora', serif;
    font-weight: 600;
}

.lightCard:hover {
    transform: scale(0.999);
    transition: all 0.2s ease;
    border: solid 1px var(--secondary-color-700);
}


.lightName {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-size: x-large;
    color: var(--primary-color-900);
}

.lightName:hover {
    cursor: pointer;
}

.lightSpan {
    font-size: medium;
    color: var(--primary-color-800);
}

.lightLabel {
    font-size: small;
    color: var(--secondary-color-800);
}

.darkCard {
    background-color: var(--primary-color-900);
    border-radius: 5px;
    padding: 16px;
    text-align: left;
    font-family: 'Lora', serif;
    font-weight: 600;
    align-items: center;
}

.darkCard:hover {
    transform: scale(0.999);
    transition: all 0.2s ease;
    border: solid 1px var(--secondary-color-200);
}

.darkName {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-size: x-large;
    color: var(--primary-color-200);
}

.darkName:hover {
    cursor: pointer;
}

.darkSpan {
    font-size: medium;
    color: var(--primary-color-200);
}


.darkLabel {
    font-size: small;
    color: var(--primary-color-300);
}

.image {
    border-radius: 24px;
}