.darkNav {
  background-color: var(--dark-back-color);
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition-duration: 0.75s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.lightNav {
  background-color: var(--light-back-color);
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition-duration: 0.75s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.logo {
    position: fixed;
    left: 1em;
    height: 48px;
    cursor: pointer;
    scale: 0.60;
}
  
.logo:hover {
    cursor: pointer;
}

.lightTextLogo {
  font-size: 40px;
  font-family: 'EB Garamond', serif;
  font-style: italic;
  font-weight: 700;
  line-height: 0.05;
  color: var(--light-text-color); 
  transition-duration: 0.5s;
}

.darkTextLogo {
  font-size: 40px;
  font-family: 'EB Garamond', serif;
  font-style: italic;
  font-weight: 700;
  line-height: 0.05;
  color: var(--dark-text-color); 
  transition-duration: 0.5s;
}

.darkNavLinks {
  margin: 0 16px;
  color: var(--dark-text-color);
  text-decoration: none;
  font-family: 'EB Garamond', serif;
  font-weight: 700;
  transition-duration: 0.5s;
}

.lightNavLinks {
  margin: 0 16px;
  color: var(--light-text-color);
  text-decoration: none;
  font-family: 'EB Garamond', serif;
  font-weight: 700;
  transition-duration: 0.5s;
}

.lightNavLinks a {
  margin: 0 16px;
  color: var(--light-text-color);
  text-decoration: none;
  transition-duration: 0.5s;
  font-size: 20px;
}
.darkNavLinks a {
  margin: 0 16px;
  color: var(--dark-text-color);
  text-decoration: none;
  transition-duration: 0.5s;
  font-size: 20px;
}

.lightNavLinks a:hover {
  color: var(--secondary-color);
}

.darkNavLinks a:hover {
  color: var(--secondary-color);
}

.darkNavLinks a:focus {
  color: var(--secondary-color);
}

