.lightTheme {
    height: 100vh;
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    z-index: 1;
    color:#001101;
    transition-duration: 0.5s;
    
}

.darkTheme {
    height: 100vh;
    background-color: #001101;
    position: fixed;
    width: 100%;
    z-index: 1;
    color: #FFFFFF;
    transition-duration: 0.5s;
    
}

.main {
    background-image: url('../../assets/images/landing.jpg');
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.75;
    z-index: 2;
}