.searchContainer {
  display: flex;
  flex-direction: row;
}
  
.input {
  width: 250px;
  padding: 8px;
  border: 1px solid var(--secondary-color-100);
  border-radius: 5px;
  background-color: var(--primary-color-100);
  font-family: 'Lora', serif;
  font-size: 16px;
}
  
.input:hover {
  border: solid 1px var(--secondary-color-500);
  cursor: text;
}
  
.input:focus {
  border: 1.5px solid var(--secondary-color-700);
  outline: none;
}
  
.searchButton {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  margin-left: 8px;
  padding: 8px;
}
  
.searchButton:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}
  
.searchButton img {
  margin-top: 2px;
  width: 16px;
  height: 16px;
}
