.searchContainer {
    display: flex;
    align-items: center;
  }
  
  .input {
    width: 250px;
    text-align: left;
    padding: 8px;
    border: 1px solid var(--neutral-color);
    border-radius: 5px;
  }
  
  .input::placeholder {
    text-align: left;
  }
  
  .input:hover {
    border: solid 1px var(--secondary-color-600);
  }
  
  .input:focus {
    border: 1.5px solid var(--secondary-color-700);
    outline: none;
  }
  
  .searchButton {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 8px;
    padding: 8px;
  }
  
  .searchButton:hover {
    background-color: var(--secondary-color);
    border-radius: 10px;
  }
  
  .searchButton img {
    width: 16px;
    height: 16px;
  }
  