.lightTheme {
    color: rgb(245, 245, 245);
}

.darkTheme {
    color: rgb(48, 46, 46);
}

.input {
    width: 150px;
    text-align: left;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input::placeholder {
    text-align: left;
}

.input:hover {
    border: solid 1px #02B1C8;
}

.input:focus {
    border: 1px solid #02B1C8;
    outline: none;
}

button[type="submit"] {
    background-color: #02B1C8;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #02b1c880;
}

label {
    color: #fff;
    padding: 0.5em;
}
