body {
    margin: 0;
    padding: 0;   
}

.main {
    margin-top: 48px;
    background-image: url('../../assets/images/not-found-low.jpg');
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.75;
    z-index: 1;
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 44px;
    line-height: 1.5;
    color: var(--secondary-color); 
}

.title {
    color: var(--secondary-color-900); 
    top: 33%;
    position: relative;
    align-items: center;
    text-justify: center;
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-weight: 700;
    z-index: 3;
}

.button {
    text-align: center;
    width: 11%;
    border-radius: 7.5px;
    border: whitesmoke solid 1px;
    box-sizing: border-box;
    display: block;
    z-index: 2;
    overflow: hidden;
    padding: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button:hover {
    cursor: pointer;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    background: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    background-size: 50% 100%;
}

.button span {
    position: relative;
    z-index: 4;
    padding: .25rem 0;
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-size: 1.2rem;
    align-items: center;
    background: whitesmoke;
    border-radius: 2.5px;
    display: block;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    color: #202020;
}

@keyframes rainbowSlide {
    to {
        transform: translateX(-50%)
    }
}

.button:hover::before {
    animation: rainbowSlide 1.25s linear infinite;
}