.formu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-family: 'Lora', serif;
}

.formu label {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.formu input[type="text"],
.formu input[type="number"] {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
}

.formu input[type="checkbox"] {
  margin-right: 5px;
}

.formu button[type="submit"] {
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
}

.errors {
  font-size: small;
  color: var(--secondary-color-700);
}